.banner {
color: white;
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
background-attachment: fixed;
padding: 80px 0px;
font-family: Andale Mono;
height: 100%;
width: 100%;
}

.banner2 {
color: white;
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
background-attachment: fixed;
font-family: Andale Mono;
height: 0%;
width: 100%;
margin-top: -50px;
}

.contact {
color: white;
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
background-attachment: fixed;
padding: 1px 0px;
font-family: Andale Mono;
width: 100%;
}

.banner h1 {
background-image: url(https://media.giphy.com/media/323XvYIOhL2DzB5yK0/giphy.gif);
background-size: cover;
color: transparent;
-moz-background-clip: text;
-webkit-background-clip: text;
font-size: 90px;
display: flex;
margin: 0 auto;
justify-content: center;
padding-left: 10%;
padding-right: 10%;
}

.banner h2 {
font-size: 30px;
color: white;
padding: 0px 100px;
width: 100%;
height: auto;
justify-content: center;
}

.banner2 h3 {
font-size: 30px;
color: white;
padding: 0px 100px;
width: 100%;
display: flex;
justify-content: center;
width: 100%;
padding-top: 42px;
}

.responsive {
 width: 100%;
 height: auto;
 max-width: 350px;
 vertical-align: middle;
 margin: 0 auto;
 display:flex;
}


