* {
  box-sizing: border-box;
}

#bubble-top-right {
  position: absolute;
  width:25%;
  padding-left:20%;
  margin-top: -6px;
  width: 61%;
  padding-left: 20%;
  margin-left: 50%;
  min-width: 50%;
  z-index: 100;


}
.about-page {
color: #F7F8F6;
font-family: Andale Mono;
background-size: cover;
background-position: center;
background-repeat:no-repeat;
width: 100%;
height: -webkit-fill-available;
margin: 0 auto;
display:flex;
padding-bottom: 1vh;
padding-top: 1vh;
overflow: auto ;
position: relative;
z-index: 500;
}

.about-page h2 {
display: flex;
    /* margin-top: 60px; */
    justify-content: center;
    /* padding-top: 12vh; */
    position: relative;
    z-index: 500;
    flex-direction: row;
    margin-top:20%;
}

.about-page h3 {
font-size: 30px;
color: white;
padding: 0px 100px;
width: 100%;
display: flex;
justify-content: center;
padding-top: 42px;
position: relative;
z-index: 500;
}


.about-page p {
margin: 0;
display:flex;
width: 100%;
padding-left: 26px;
padding-right: 16px;
position: relative;
z-index: 500;
display:flex;
flex-direction: column;
}


@media screen and (min-width: 390px) {
  .about {
    font-size: 18px;
  }

}

@media screen and (max-width: 600px) {
  .about {
    font-size: 15px;
  }
  #bubble-top-right {
  position: absolute;
  width:25%;
  padding-left:20%;
  margin-top: -6px;
  width: 70%;
  padding-left: 0%;
  margin-left: 52%;
  min-width: 50%;
  z-index: 100;
 }
}

.about-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: rgba(0,0,0,0.3);
  margin-top: -5px;
  position: relative;
  z-index: 999999;
  background-color: black;
}
.about-footer-links {
  display: flex;
  justify-content: center;
  width: 100%;
}
.about-footer-links a {
  color: #414141;
  opacity: 1;
  text-decoration: none;
  font-size: 60px;
  padding: 0px 10px;
}
.about-footer-links a:hover {
  opacity: 1;
  color:#FBB882;
}
.footer .fa-heart {
  color: #D23333;
}

