html {
  text-rendering: optimizeLegibility;
}

.banner {
color: white;
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
background-attachment: fixed;
padding: 80px 0px;
font-family: Andale Mono;
height: 100vh;
width: 100%;
}

#down-btn {
 position: absolute;
 top:85vh;
 padding: 20px;
 font-size: 2.5em;
 display: flex;
 margin-left: 36%;
}

#down-btn :hover {
 cursor: pointer;
 background-color: #eee;
 opacity: 0.8;
}

.banner2 {
color: white;
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
background-attachment: fixed;
font-family: Andale Mono;
height: 0%;
width: 100%;
margin-top: -50px;
}

.contact {
color: white;
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
background-attachment: fixed;
padding: 1px 0px;
font-family: Andale Mono;
width: 100%;
}

.banner h1 {
background-image: url(https://media.giphy.com/media/323XvYIOhL2DzB5yK0/giphy.gif);
background-size: cover;
color: transparent;
-moz-background-clip: text;
-webkit-background-clip: text;
font-size: 84px;
display: flex;
margin: 0 auto;
justify-content: center;
padding-left: 10%;
padding-right: 10%;
}

.banner h2 {
font-size: 30px;
color: white;
padding: 0px 100px;
width: 100%;
height: auto;
justify-content: center;
}

.banner2 h3 {
font-size: 30px;
color: white;
padding: 0px 100px;
width: 100%;
display: flex;
justify-content: center;
width: 100%;
padding-top: 42px;
}

.responsive {
 width: 100%;
 height: auto;
 max-width: 250px;
 vertical-align: middle;
 margin: 0 auto;
 display:flex;
 padding-top: 20vh;
}

* {
  box-sizing: border-box;
}

.about {
color: #F7F8F6;
font-family: Andale Mono;
background-size: cover;
background-position: center;
background-repeat:no-repeat;
width: 100%;
height: auto;
margin: 0 auto;
display:flex;
padding-bottom: 8vh;
padding-top: 8vh;
}

h2 {
display: flex;
margin-top: 60px;
max-width: 100%;
justify-content: center;
padding-bottom: 33px;
}


p {
margin: 0;
display:flex;
width: 100%;
padding-left: 26px;
padding-right: 16px;
}

@media screen and (min-width: 390px) {
  .about {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    font-size: 15px;
  }
}


