.bubble-left-main {
 position: absolute;
    width: 25%;
    padding-left: 20%;
    margin-top: -181px;
    width: 43%;
    padding-left: 0%;
    margin-left: -8%;
    /* min-width: 50%; */
    z-index: 100;
    height: 31%;
}
.bubble-right-main{
    position: absolute;
    z-index: 100;
    margin-top:-4%;
    margin-left: 84%;
    height: 40%;
    width: 16%;
}

.bubble-right-2-main{
    position: absolute;
    z-index: 100;
    margin-top: -8%;
    margin-left: 84%;
    height: 24%;
    width: 16%;
}

.bubble-left-2-main {
    position: absolute;
    width: 25%;
    padding-left: 20%;
    margin-top: -70px;
    width: 21%;
    padding-left: 0%;
    margin-left: -8%;
    /* min-width: 50%; */
    z-index: 100;
    height: 40%;
    margin-left:-12%;
}
.bubble-top-right-about {
    position: absolute;
    width: 34%;
    margin-top: -7px;
    width: -1%;
    height: 23%;
    margin-left: 10%;
    min-width: 35%;
    min-height:23%;
}
.bubble-top-left-gallery {
    position: absolute;
    margin-top: -25%;
    margin-left: -14%;
    width: 29%;
    height: 66%;
    min-width: 29%;
    min-height:66%;
    padding-left: 14%;
    padding-top: 17%;
    /* margin-left: 50%; */
    min-width: 29%;
    z-index: 100;
    overflow: hidden;
}

.bubble-top-left-artists {
    position: absolute;
    width: 25%;
    padding-left: 20%;
    margin-top: -7.5%;
    margin-left: 79%;
    width: 23%;
    height: 54%;
    padding-left: 0%;
    /* margin-left: 50%; */
    /* min-width: 50%; */
    z-index: 100;
    overflow: hidden;
}

@media screen and (max-width: 414px) {
  .bubble-left-main {
    position: absolute;
    width: 25%;
    padding-left: 20%;
    margin-top: -107px;
    width: 80%;
    padding-left: 0%;
    margin-left: -38%;
    /* min-width: 50%; */
    z-index: 100;
    height: 21%;
}
 .bubble-right-main{
    position: absolute;
    z-index: 100;
    margin-top: -23%;
    margin-left: 66%;
    height: 25%;
    width: 34%;
}

.bubble-left-2-main {
    position: absolute;
    width: 25%;
    padding-left: 20%;
    margin-top: -3px;
    width: 47%;
    padding-left: 0%;
    margin-left: -8%;
    /* min-width: 50%; */
    z-index: 100;
    height: 29%;
    margin-left: -17%;
}
.bubble-right-2-main{
    position: absolute;
    z-index: 100;
    margin-top: -35%;
    margin-left: 62%;
    height: 19%;
    width: 38%;
}
.bubble-top-right-about {
  position: absolute;
  width:25%;
  padding-left:20%;
  margin-top: -6px;
  width: 70%;
  padding-left: 0%;
  margin-left: 52%;
  min-width: 50%;
  z-index: 100;
 }
.bubble-top-left-gallery {
    position: absolute;
    width: 25%;
    padding-left: 20%;
    margin-top: -30.5%;
    margin-left: -10%;
    width: 37%;
    height: 26%;
    padding-left: 0%;
    /* margin-left: 50%; */
    /* min-width: 50%; */
    z-index: 100;
    overflow: hidden;
}
.bubble-top-left-artists {
    position: absolute;
    width: 25%;
    margin-top: -34.5%;
    margin-left: 9%;
    width: 23%;
    height: 38%;
    /* margin-left: 50%; */
    /* min-width: 50%; */
    z-index: 100;
    overflow: hidden;
}
}
