.main-button {
/*text-decoration: none;
background-color: none;
color: white;
padding: 8px 12px;
border-radius: 4px;
border: 1px solid white;
margin-left: 620px;
margin-bottom: 37px;
margin-top: 50px;
font-size: 20px;*/
 font-family: Andale Mono;
  background:#FBB882;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:20px;
  padding: 20px 20px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  height:50px;
  margin-left:36%;

}

.main-button:hover {
background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
background-size: cover;
transition: 0.5s;
color: white;
border: 1px solid black;
}

