#myCookieConsent {
    z-index: 999;
    min-height: 20px;
    font-family: century-gothic, sans-serif;
    padding: 10px 20px;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0px;
    right: 10px;
    display: none;
    left: 0;
    text-align: center;
    font-size: 15px;
    /*font-weight: bold;*/
}
#myCookieConsent div {
    padding: 5px 0 0;
}
#myCookieConsent a {
    color: #FF3B00;
    display: inline-block;
    padding: 0 10px;
}
#myCookieConsent a:hover {
  color: #EA0202;
}
#myCookieConsent a#cookieButton {
    display: inline-block;
    color: #000000;
    font-size: 1.1em;
  background: #FF3B00;
    text-decoration: none;
    cursor: pointer;
    padding: 2px 20px;
    float: right;
    border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
    background: #EA0202;
  color: #000;
}
