html {
  height: 100%;
}

body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.desktop-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:rgb(56, 53, 51);
  z-index: 991;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-links a {
  color: #414141;
  opacity: 1;
  text-decoration: none;
  font-size: 60px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color:#A89A90;
}
.footer .fa-heart {
  color: #D23333;
}

#footer-logos {
justify-content: center;
opacity: 1;
background: transparent;
height: 36px;
margin-top: 25px;
display:flex;
}

#copyright-list {
justify-content: center;
align-items: center;
padding-left: 0;
}

#footer-copright{
  font-family: century-gothic, sans-serif;
  color: #414141;
  display: flex;
  flex-direction:row;
  display: inline;
  font-size: 12px;
  overflow: auto;
}
#footer-copyright a:hover {
  opacity: 1;
  color:#A89A90;
}

@media screen and (max-width: 414px) {

.footer-links a {
  color: #414141;
  opacity: 1;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}

#footer-copright{
  font-family: century-gothic, sans-serif;
  color: #414141;
  display: flex;
  flex-direction:row;
  display: inline;
  font-size: 8px;
  overflow: auto;
}


}



