.main-button {
text-decoration: none;
background-color: none;
color: white;
padding: 8px 12px;
border-radius: 4px;
border: 1px solid white;
margin-left: 620px;
margin-bottom: 37px;
margin-top: 50px;
font-size: 20px;
}

.main-button:hover {
background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
background-size: cover;
transition: 0.5s;
color: white;
border: 1px solid black;
}

