.footer {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-links a {
  color: #414141;
  opacity: 1;
  text-decoration: none;
  font-size: 60px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color:#FBB882;
}
.footer .fa-heart {
  color: #D23333;
}

/**.footer-copyright{
  font-family: Andale Mono;
  color: #414141;
  font-size: 18px;
}
